* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;;
  color: #444;
  height: 100vh;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

